@charset "UTF-8";
$base-color: #D5D5D5 !default;
//$base-color: #cd8056 !default;
$dark-gray: #333 !default;
$unreadtext: #FF0000!default;
$greentheme: #669933!default;
$panelheaderbg: #F9DCB0!default;
$font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !default;
//$app_pathname:'v0.2';
$app_pathname:'JRQSVoice';
$image_path:'../../../../images/';
$cache_svn : '?_dc=1656';
$selected-item-bg : #FFC2C2 !default;
$editable-col-bg: #DDEAD2 !default;
$non-editable-col-bg: #DDDDDD !default;
// @import 'sprites/sprite';
// @import 'sprites/spritesv2';
