//$window-background-color : #3498db !default;
$window-base-color: #8c8c8c !default;
$window-body-background-color : #fff !default;
$window-header-color: #FFFFFF !default;
//$window-border-color: #3498db !default;
//$window-body-border-color: #bcb1b0 !default;
$window-body-padding: 5px!default;
$window-body-border-width :1px !default;
$background-label: #333333 !default;
$window-header-font-size: 13px !default;
$window-header-font-weight: normal !default;
//$window-header-background-color: #3498db !default;
$window-tool-spacing: 6px!default;
$window-border-radius:3px !default;