$panel-header-color:#FFF !default;
$panel-base-color: #E51313 !default;
$panel-header-padding: 5px!default;
$panel-body-background-color: #fff!default;
$panel-header-font-family: $font-family!default;
$grid-cell-inner-padding: 3px 6px!default;
$panel-body-border-color : silver !default;
$panel-header-background-color: #a9a9a9 !default;
$panel-header-border-color: #a9a9a9 !default;


