$grid-row-cell-background-color: #fff !default;
$grid-row-cell-alt-background-color: #EEF8DC !default;
$grid-row-cell-over-color: $grid-row-cell-alt-background-color !default;
$grid-row-cell-over-color: $grid-row-cell-background-color !default;