.icon-book,
.icon-day-book,
.yig-update-s-w,
.yig-auto-update-s-w,
.yig-day-book-s-w,
.yig-book-s-w 
{
	background-image: url('../../../../images/bbase_sprite.png'); 
	background-color: transparent; 
	background-repeat: no-repeat; 
}

.icon-book { width: 21px; height: 24px; background-position: -10px -62px !important; }
.icon-day-book { width: 19px; height: 24px; background-position: -41px -62px !important; }
.yig-auto-update-s-w { width: 16px; height: 16px; background-position: -10px -10px !important; }
.yig-update-s-w { width: 16px; height: 16px; background-position: -10px -36px !important; }
.yig-book-s-w { width: 15px; height: 16px; background-position: -36px -36px !important; }
.yig-day-book-s-w { width: 13px; height: 16px; background-position: -61px -36px !important; }