.icon_print, 
.icon_file,
.icon_sku,
.icon_remove,
.icon_transfer,
.icon_design,
.icon_status,
.yig-status-filter-s-w,
.bulk-hide,
.next-value,
.previous-value,
.icon_status_w,
.icon_estimate,
.icon_switch_user,
.icon_order_entry,
.icon_order_list,
.icon_user_profile,
.icon_design_b,
.icon_account,
.icon_bill,
.icon_print_b,
.icon_process,
.icon_stock,
.login-icon,
.sku-cmp-panel-collapse,
.icon_pdf,
.column-locked,
.column-unlocked,
.resize-icon,
.icons_download
{
	background-image: url('../../../../images/sbase_sprite.png'); 
	background-color: transparent; 
	background-repeat: no-repeat; 
}
.icons_download { width: 31px; height: 19px; background-position: -10px -145px !important; }
.icon_design { width: 24px; height: 24px; background-position: -10px -85px !important; }
.icon_process { width: 24px; height: 24px; background-position: -44px -77px !important; }
.icon_status_w { width: 24px; height: 24px; background-position: -51px -145px !important; }
.icon_account { width: 24px; height: 23px; background-position: -62px -10px !important; }
.icon_order_entry { width: 22px; height: 24px; background-position: -62px -43px !important; }
.icon_pdf { width: 30px; height: 16px; background-position: -10px -119px !important; }
.icon_order_list { width: 19px; height: 24px; background-position: -50px -111px !important; }
.bulk-hide { width: 17px; height: 17px; background-position: -85px -140px !important; }
.column-unlocked { width: 16px; height: 17px; background-position: -10px -36px !important; }
.icon_switch_user { width: 16px; height: 17px; background-position: -78px -77px !important; }
.icon_transfer { width: 16px; height: 17px; background-position: -36px -36px !important; }
.icon_bill { width: 16px; height: 16px; background-position: -10px -10px !important; }
.icon_design_b { width: 16px; height: 16px; background-position: -79px -104px !important; }
.icon_print { width: 16px; height: 16px; background-position: -36px -10px !important; }
.icon_print_b { width: 16px; height: 16px; background-position: -96px -10px !important; }
.icon_status { width: 16px; height: 16px; background-position: -105px -114px !important; }
.icon_stock { width: 16px; height: 16px; background-position: -105px -88px !important; }
.login-icon { width: 16px; height: 16px; background-position: -104px -62px !important; }
.next-value { width: 16px; height: 16px; background-position: -96px -36px !important; }
.previous-value { width: 16px; height: 16px; background-position: -112px -140px !important; }
.resize-icon { width: 16px; height: 16px; background-position: -122px -10px !important; }
.sku-cmp-panel-collapse { width: 16px; height: 16px; background-position: -131px -114px !important; }
.icon_user_profile { width: 14px; height: 16px; background-position: -131px -88px !important; }
.yig-status-filter-s-w { width: 14px; height: 16px; background-position: -130px -62px !important; }
.column-locked { width: 12px; height: 16px; background-position: -122px -36px !important; }
.icon_estimate { width: 12px; height: 16px; background-position: -138px -140px !important; }
.icon_file { width: 12px; height: 16px; background-position: -148px -10px !important; }
.icon_remove { width: 12px; height: 16px; background-position: -144px -36px !important; }
.icon_sku { width: 16px; height: 12px; background-position: -10px -63px !important; }