.icons-v2-sprite, .icons-v2-appraisal, .icons-v2-comment, .icons-v2-display-order, .icons-v2-edit, .icons-v2-processing, .icons-v2-record, .icons-v2-refresh, .icons-v2-share, .icons-v2-status, .icons-v2-view, .icons-v2-xtrafilter { background: url($image_path+'icons/spritesv2.png'+$cache_svn) no-repeat; }

.icons-v2-appraisal { background-position: 0 0 !important; }

.icons-v2-comment { background-position: -36px 0 !important; }

.icons-v2-display-order { background-position: -72px 0 !important; }

.icons-v2-edit { background-position: -108px 0 !important; }

.icons-v2-processing { background-position: -144px 0 !important; }

.icons-v2-record { background-position: -180px 0 !important; }

.icons-v2-refresh { background-position: -216px 0 !important; }

.icons-v2-share { background-position: -252px 0 !important; }

.icons-v2-status { background-position: -288px 0 !important; }

.icons-v2-view { background-position: -324px 0 !important; }

.icons-v2-xtrafilter { background-position: -360px 0 !important; }

