$button-default-background-color: #233040 !default;
$button-small-border-radius: 0px !default;
$button-medium-border-radius: 0px !default;
$button-small-padding: 5px !default;
$button-default-background-gradient: null !default;
$button-default-background-gradient-over: $button-default-background-gradient !default;
$button-default-background-gradient-focus: $button-default-background-gradient !default;
$button-default-background-gradient-pressed: $button-default-background-gradient !default;
$button-default-background-color-over: lighten($button-default-background-color, 10%) !default;
$button-default-background-color-focus: lighten($button-default-background-color, 10%) !default;
$button-default-background-color-pressed:#7F8081 !default;
$button-default-border-color: #4e6d94 !default;
$button-default-border-color-over: #4e6d94!default;
$button-default-border-color-focus: darken($button-default-background-color, 10%) !default;
$button-default-border-color-pressed: #7F8081 !default;
$button-default-color:#FFF!default;
$button-default-color-over: #FFF!default;
$button-large-font-weight : normal !default;
$button-medium-font-weight : normal !default;
$button-small-font-weight : normal !default;
$button-opacity-disabled: .5 !default;
$opacity-disabled: .5 !default;